body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

 h1 , h2 {
    color: #ffffff;
    
  }

  input {
    width: 200px;
    margin: 4px;
    padding: 6px;
    border-radius: 8px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }

  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
  }
  
  /* From uiverse.io  @mrhyddenn*/
button {
  font-family: "Roboto Mono", monospace;
  padding: 15px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;

  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255)
}

button:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

button:active {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}


  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 350px;
  }
  